In [1]:
!conda install sqlite
import sqlite3

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
with sqlite3.connect('/home/alexs/.local/share/DBeaverData/workspace6/.metadata/sample-database-sqlite-1/Chinook.db') as conn:
    small_df.to_sql('Tate' , conn)

OperationalError: unable to open database file

In [ ]:
!pip install sqlalchemy
import sqlalchemy as sa

In [ ]:
with sa.create_engine('sqlite:/home/alexs/.local/share/DBeaverData/workspace6/.metadata/sample-database-sqlite-1/Chinook.db') as conn:
    small_df.to_sql('Tate' , conn)