In [ ]:
import sqlite3

In [ ]:
with sqlite3.connect('/home/alexs/.local/share/DBeaverData/workspace6/.metadata/sample-database-sqlite-1/Chinook.db') as conn:
    small_df.to_sql('Tate' , conn)

In [ ]:
import sqlalchemy as sa

In [ ]:
with sa.create_engine('sqlite:/home/alexs/.local/share/DBeaverData/workspace6/.metadata/sample-database-sqlite-1/Chinook.db') as conn:
    small_df.to_sql('Tate' , conn)