In [2]:
classic_cars = ["Pierce Arrow","Oldsmobile","Mustang"]

In [3]:
for car in classic_cars:
    print(car)

Pierce Arrow
Oldsmobile
Mustang

In [4]:
car

'Mustang'

In [5]:
sports_car = ["Agera","Regera","Chiron","Veyron"]

In [6]:
for car in sports_car:
    print(car)

Agera
Regera
Chiron
Veyron

In [7]:
for character in ["P","h","a","n","t","o","m"]:
    print(character)

P
h
a
n
t
o
m

In [8]:
 for character in "Phantom":
     print(character)

P
h
a
n
t
o
m

In [10]:
    num_list = [100, 800, 330, 220, 400, 900, 1100]
    for num in num_list:
        if num < 500:
            print("<500:",num)
        else:
            print(">500",num)

<500: 100
>500 800
<500: 330
<500: 220
<500: 400
>500 900
>500 1100

In [11]:
r = range(10)
r

range(0, 10)

In [12]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [13]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(-4,8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [16]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [17]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [18]:
for _ in range(7):
    print("Great!")

Great!
Great!
Great!
Great!
Great!
Great!
Great!

In [20]:
names_and_ages = {"John" : 53 , "Alice" : 57, "Bill" : 14, "Dave" : 25}
type(names_and_ages)

dict

In [21]:
for key in names_and_ages:
    print(key)

John
Alice
Bill
Dave

In [22]:
for key in names_and_ages:
    print("Name: ", key, "Age: ", names_and_ages[key])

Name:  John Age:  53
Name:  Alice Age:  57
Name:  Bill Age:  14
Name:  Dave Age:  25

In [23]:
names_and_ages.keys()

dict_keys(['John', 'Alice', 'Bill', 'Dave'])

In [24]:
for key in names_and_ages.keys():
    print(key)

John
Alice
Bill
Dave

In [25]:
names_and_ages.values()

dict_values([53, 57, 14, 25])

In [26]:
for i in names_and_ages.values():
    print(i)

53
57
14
25

In [27]:
for key,val in names_and_ages.items():
    print(key, val)

John 53
Alice 57
Bill 14
Dave 25